<div class="p-grid p-jc-center p-mt-4">
    <div class="p-col-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="p-grid p-jc-center">
                        <div class="p-col-2" style="text-align: center;">
                            <h3>Yo!</h3>
                        </div>
                    </div>
                </ng-template>

                <div class="p-fluid">
                    <div class="p-field">
                        <label for="username">Username</label>
                        <input id="username" type="text" pInputText formControlName="username"
                            [ngClass]="{ 'invalid-field': loginForm.controls.username.invalid && submited }" />
                        <small *ngIf="loginForm.controls.username.invalid && submited" id="username-help"
                            class="invalid-help-text">Username
                            is required</small>
                    </div>
                    <div class="p-field">
                        <label for="password">Password</label>
                        <p-password id="password" [feedback]="false" [toggleMask]="true" formControlName="password" #password>
                        </p-password>
                        <small *ngIf="loginForm.controls.password.invalid && submited" id="password-help"
                            class="invalid-help-text">Password
                            is required</small>
                    </div>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton type="submit" label="Login" class="p-d-block p-mx-auto"></button>
                    <p-messages *ngIf="errors.length > 0" [(value)]="errors" [enableService]="false"></p-messages>
                </ng-template>
            </p-card>
        </form>
    </div>
</div>