<ng-container *ngIf="projects.length === 0">
  <h3>You don't have any projects</h3>
</ng-container>
<ng-container *ngIf="projects.length > 0">
  <ng-container *ngFor="let project of projects">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        {{ project.name }}
      </ng-template>
      <div class="p-grid">
        <ng-container *ngFor="let imageUrl of project.outputImageUrls">
          <div class="p-col-3">
            <img [src]="imageUrl">
          </div>
        </ng-container>
      </div>
    </p-panel>
  </ng-container>
</ng-container>