<div class="p-grid p-mt-2">
    <div class="p-col">
        <app-image-editor></app-image-editor>
    </div>
    <div class="p-col">
        <app-input-parameters></app-input-parameters>
    </div>
    <div class="p-col">
        <app-projects-list></app-projects-list>
    </div>
</div>
<p-toast position="top-right"></p-toast>
<p-dialog header="Validation errors" [(visible)]="showModal">
    <ul>
        <li *ngFor="let message of modalContent">
            {{ message }} 
        </li>
    </ul>
</p-dialog>